@page "/MyAchievements"
<h3>My Achievements</h3>

<Row Height=Height.Is25>
    <Column ColumnSize=ColumnSize.Is6.OnDesktop.Is12.OnMobile>
        <Card>
            <Figure Size=FigureSize.Is256x256>
                <FigureImage Source="@azureImage"></FigureImage>
            </Figure>
            <CardBody> 
                <CardTitle Size="5">Microsoft Azure Fundamentals certification</CardTitle>
                <CardText Style="word-wrap: break-word;">
                    Achieved the certification on 15 October 2022.
                </CardText>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize=ColumnSize.Is6.OnDesktop.Is12.OnMobile>
        <Card>
            <Figure Size=FigureSize.Is256x256>
                <FigureImage Source="@azureAIImage"></FigureImage>
            </Figure>
            <CardBody>
                <CardTitle Size="5">Microsoft AI Fundamentals certification</CardTitle>
                <CardText Style="word-wrap: break-word;">
                    Achieved the certification on 13 November 2022.
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row Height=Height.Is25>
    <Column ColumnSize=ColumnSize.Is6.OnDesktop.Is12.OnMobile>
        <Card>
            <Figure Size=FigureSize.Is256x256>
                <FigureImage Source="@FidelityImage"></FigureImage>
            </Figure>
            <CardBody>
                <CardTitle Size="5">Fidelity National Financial, India</CardTitle>
                <CardText>
                    Awarded with Best Debutant award for demonstrating exemplary performance.
                </CardText>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    /// <summary>
    /// To display Azure Image
    /// </summary>
    public string azureImage = "./Images/azurefundamentals.jpg";

    /// <summary>
    /// To Display Fidelity Image
    /// </summary>
    public string FidelityImage = "./Images/fid.jpg";

    /// <summary>
    /// To Display Azure AI Image
    /// </summary>
    public string azureAIImage = "./Images/AzureAI.jpg";
}
